* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore::after {
    content: "";
    display: table;
    clear: both;
}

.contenitore {
    width: 80%;
    margin:auto;
}

header {
    background-color: yellow;
    float: left;
    /* height: 150px; */
    width: 100%;
    padding: 25px;
}

.asideleft {
    background-color: #ff99ff;
    float: left;
    width: 20%;
    padding: 10px;
    margin-top: 10px;

}

main {
    background-color: #cc33ff;
    float: left;
    width: calc(60% - 20px);
    padding: 10px;
    margin left: 10px;
    margin right: 10px;
    margin top:10px;
}

.asideright {
    float: left;
    width: 20%;
    padding: 10px;
}

.up {
    background-color: #ff99ff;
    padding: 10px;
    margin-bottom: 10px
}

.down {
    background-color: #ff99ff;
    padding: 10px;
}

footer {
    background-color: #66ffff;
    float: left;
    width: 100%;
}
